**/.classpath
**/.settings
**/.project
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/output/
**/target/
**/nbdist/
.nb-gradle/
.DS_Store
**/bin
**/.netbeans_automatic_build
**/.netbeans_update_resource
**/nbactions.xml
**/nbactions-release-profile.xml
**/effective.pom
